h1,h2,h3,h4{
    font-weight: bolder;
}


@import 'modern-normalize';
header img{
    max-width: 2.5%;
    border-radius: 50px;
}
.guts{
    max-width: 5%;
}
.guts2{
    max-width: 14%;
    border-radius: 50%;
    margin-right: 30px;
}
.go{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 98vh;
}

header{
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
}
.firstrow{
   grid-column: span 2;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.search{
 width: 60%;
 border-radius: 50px;
 background-color:lightgray;
 height: 30px;
 margin-right: 100px;
}

.secondrow{
    grid-column: span 2;
    gap: 0;
    display:flex;
    background-color: whitesmoke;
    align-items: center;
   

}
.one{
    grid-column: 1/2;
    width: 100%;
    display: flex;
    justify-content: center;
}
.two{
    grid-column: 2/-1;
        width: 100%;
      display: flex;
    justify-content: flex-end;
    margin-right: 50px;

}
.buttons{
    background-color:dodgerblue;
    border-radius: 50px;
    width: 100px;
    border: solid 2px black;
    height:fit-content;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
}




aside{
    
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color:rgb(9, 160, 211);
       display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(9,1fr);
    color: white;
}
aside .words{
    grid-column: 2/-1;
    display: grid;
    gap: 12px;
    justify-content: flex-start;
    font-size: large;
}
aside .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    gap: 40px;
    margin-top: 8px;
   
}
aside .icons img{
    display: block;
    width: 50px;
}

main{
    
    grid-column: 2/-1;
    grid-row: 2/-1;
      background-color: gainsboro;
        display: grid;
    grid-template-columns: 4fr 1fr;
    box-shadow: black 1px 1px 2px;
    
}

.content{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    text-align: start;
    gap:30px;
    margin-left: 100px;

}

.content > div {
    width: 60%;
    border:solid gold 6px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    
}
.content > div > div img{
    width: 10%;

    
}

.side{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid1{
    border: solid black 2px;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: black solid 1px;
    text-align: center;
}
.grid2{
    border: solid black 2px;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: black solid 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid2 img{
    max-width: 40%;
    border-radius: 500px;
    display: block;
    margin: 0 auto;
}